PROJECT_NAME= "API TIVIT Users"
ENVIRONMENT=DEV
API_ROOT_PATH=/Users
BACKEND_CORS_ORIGINS=["http://localhost", "http://0.0.0.0", "http://localhost:8000"]

# Postgres
POSTGRES_SERVER=127.0.0.1:5432
POSTGRES_DB=postgres
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres

ECHO_SQL=True
